*{
    border: 1px solid red;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/* ---- HELPERS ---- */
.d-flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.margin-border{
    padding: 5px 15px;
}

.secondary-title{
    font-weight: 900;
}

/* ---- OTHERS ---- */

.header{
    /* height: 30px; */
    position: fixed;
    padding: 7px 0px;
    background-color: #c6b6e4;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    justify-content: space-between;
    align-content: center;
}

.CTA-phone{
    color: black;
    text-align: center;
}

.CTA-mail{
    color: black;
}

.menu{
    justify-content: space-between;
}

.profile-pic{
    margin: 10px 0px;
}

.introduction {
    margin: 50px auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* padding: 15px 400px; */
    width: 400px;
}

.introduction-description{
    text-align: center;
    line-height: 0.75cm;
    font-size: 14px;
}

h1{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.contact-buttons{
    font-size: 14px;
    /* justify-content: center; */
    /* padding: 50px 0px; */
}

.services-section{
    width: 950px;
    margin: 10px auto;
    flex-direction: column;
}

.services-title{
    font-size: 20px;
    font-weight: 900;
}

.service-examples{
    flex-direction: row;
    justify-content: space-between;
}

.example-1{
    width: 300px;
}

.example-2{
    width: 300px;
}

.example-3{
    width: 300px;
}