*{
    border: 1px solid red;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.d-flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.header{
    justify-content: space-between;
}

.margin-border{
    padding: 5px 15px;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}